<div class="w-full h-full">
  <div class="w-full h-full bg-[url('assets/image/product-page-bg.png')] bg-cover">
    <div class="flex sm:text-left sm:text-6xl">
      <img src="assets/image/about/page-1.png" class="relative w-full h-full  object-cover py-25">
      <div class="flex justify-between items-center absolute top-25 left-10 md:top-40 md:left-30">
        <p class="flex gap-2 text-[#941a28] text-xs md:text-sm">
          <a [routerLink]="['/home']" class="hover:underline font-semibold">Home</a> > About
        </p>
      </div>
    </div>
    <button
      class="flex items-center absolute top-115 left-60 md:top-290 lg:left-190 lg:top-320 md:left-160 px-2 py-1 md:px-8 gap-2 md:py-3 mt-8 bg-orange-500 text-white rounded-full md:text-lg md:font-semibold hover:bg-orange-600 hover:scale-110" [routerLink]="['/products']">
      Order Now
    </button>

  </div>

  <div class="w-full h-full flex">
    <img src="assets\image\about\page-2.png" class="relative w-screen h-screen">
    <div class="absolute flex justify-between w-full h-full ">
      <div class="flex flex-col md:flex-row items-center justify-between">
        <!-- Left Side - Large Mango Image -->
        <div class="w-full md:w-1/2 flex justify-center">
          <img *ngIf="selectedMango" [src]="selectedMango.image" alt="{{ selectedMango.name }}"
            class="hidden md:block w-125 h-125 object-cover transition-all duration-300">
        </div>

        <!-- Right Side-->
        <div class="w-full md:w-1/2 md:text-left mt-6 md:mt-0 md:space-y-4 p-8">
          <h2 class="text-3xl md:text-4xl font-bold text-[#941a28]">Freshness, Deliciousness &<br><a
              class="underline underline-offset-5">Va</a>riety</h2>
          <p class="text-[#941a28] mt-2 mr-20">{{ selectedMango.text }}</p>
          <!-- Small Mango-->
          <div class="flex justify-center md:justify-start gap-4 md:mt-15">
            <div *ngFor="let mango of mangoes" (click)="selectMango(mango)"
              class="cursor-pointer transition-all transform hover:scale-110 md:mb-0 mb-30">
              <img [src]="mango.image" alt="{{ mango.name }}" class="w-30 h-30 object-cover">
              <p class="text-sm md:text-md text-center text-[#941a28] md:mt-1 font-semibold">{{ mango.name }}</p>
            </div>
          </div>
        </div>            
</div>
</div>
</div>
</div>

<div class="flex items-center w-full h-full py-5">
  <div class="relative w-full h-full">
    <img src="assets/image/mango-6.png" class="w-full h-full object-cover scale-[1.7] md:scale-100">
  </div>    
  <div class="absolute right-60 mt-20  md:right-15 container mx-auto px-4">
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 gap-6 place-items-center">
      <ng-container *ngFor="let testimonial of visibleTestimonials">
        <div class="bg-white w-100 h-100 p-4 rounded-2xl shadow-lg text-center transition-transform hover:scale-105"   [ngClass]="{'col-12': isMobileView, 'col-md-3': !isMobileView}" 
        style="max-width: 24rem; height: auto;">
          <img [src]="testimonial.image" [alt]="testimonial.name" class="mb-3 mx-auto">
          <h2 class="text-[#752F2F] font-semibold text-lg -mb-2">{{ testimonial.name }}</h2>
          <p class="text-[#B6895B] font-semibold my-4">{{ testimonial.location }}</p>
          <div class="flex">
            <img src="https://themangobasket.com/wp-content/webp-express/webp-images/themes/storefront-child/assets/images/quate.png.webp"
                 alt="quote" class="me-2 w-10 h-20">
            <p class="text-[#752F2F] mt-2 text-base italic">{{ testimonial.quote }}</p>
          </div>
        </div>
      </ng-container>
    </div>
    </div>
    </div>
    <div class="flex w-full h-full md:mt-0 mt-10">
      <img src="assets/image/mango-7.png" class="relative w-screen h-full object-cover">
      <div class="flex flex-col absolute left-20 md:left-50 md:-my-30 md:p-20 md:my-5 md:space-y-4 space-y-1 md:w-120 my-5 p-2 w-40">
        <h2 class="text-[#8b0000] font-semibold text-xs md:text-xl">
          SIGN UP FOR MANGO NEWS
        </h2>
        
        <input type="text" name="fullname" [(ngModel)]="fullName" class="bg-white md:py-2 md:px-2 rounded" placeholder="Full Name">
        <small *ngIf="nameError" class="text-red-600">Full Name is required</small>
    
        <input type="email" name="email" [(ngModel)]="email" class="md:py-2 md:px-2 rounded bg-white" placeholder="Email">
        <small *ngIf="emailError" class="text-red-600">Valid Email is required</small>
    
        <div class="flex items-start">
          <button (click)="subscribe()" class="md:mt-6 md:px-7 px-1 py-1 md:py-4 text-xs md:text-lg text-white md:font-semibold bg-orange-600 rounded-full 
          hover:text-orange-600 hover:bg-white transition-all duration-300 shadow-md hover:scale-110">
            Subscribe
          </button>
        </div>
    
  