<div class="w-full h-full bg-[url('assets/image/product-bg.png')]">
    <div class="flex items-center justify-center h-screen">
        <div class="bg-white p-8 rounded shadow-md w-96">
            <h2 class="text-4xl font-bold text-center text-[#8b0000] mb-6">Register</h2>

            <form>
                <div class="mb-4">
                    <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username *</label>
                    <input type="text" id="username"
                        class="w-full px-3 py-2 border rounded border-gray-300 focus:outline-none focus:border-indigo-500">
                </div>

                <div class="mb-4">
                    <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email address *</label>
                    <input type="email" id="email"
                        class="w-full px-3 py-2 border rounded border-gray-300 focus:outline-none focus:border-indigo-500">
                </div>

                <div class="mb-4">
                    <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password *</label>
                    <div class="relative">
                        <input type="password" id="password"
                            class="w-full px-3 py-2 border rounded border-gray-300 focus:outline-none focus:border-indigo-500">
                        <button type="button"
                            class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                            <svg class="h-5 w-5 text-gray-400" fill="none" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path
                                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                            </svg>
                        </button>
                    </div>
                </div>

                <button type="submit"
                    class="  mx-25 border-2 border-orange-400 text-orange-500 font-bold py-2 px-3 rounded-full hover:scale-105">Register</button>
            </form>

            <div class="mt-4 text-center">
                Already have an account? <a [routerLink]="['/login']"
                    class="text-indigo-600 hover:text-indigo-800">Login</a>
            </div>
        </div>
    </div>
</div>