<div class="h-full w-full overflow-hidden">
  <div class="flex flex-col md:flex-row md:items-center md:justify-between p-15 bg-[#f6f0e8] bg-cover">
    <!-- Image -->
    <div class="md:relative right-0 top-0 h-screen ">
      <img src="assets/image/Alphonso-Mango-Basket.webp" alt="Mango Basket"
        class="object-cover md:-my-75 md:mx-80 overflow-hidden scale-[1.0] md:scale-100 -mx-20 z-30">
    </div>
    <!-- Text Content -->
    <div class="absolute md:mx-20 md:mb-10 md:p-8 md:space-y-15 space-y-4 my-58 mx-20">
      <h2 class="text-4xl md:text-5xl font-bold text-lime-600">A BASKET FULL<br><a
          class="underline md:underline md:decoration-5 md:underline-offset-20 decoration-[#8b0000]">OF M</a>ANGO LOVE!</h2>
      <ul class="md:mt-4 space-y-4 text-xl md:text-2xl md:font-semibold text-red-800 mt-5">
        <li class="underline underline-offset-10 decoration-2">100% Authentic mangoes</li>
        <li class="underline underline-offset-10 decoration-2">Carbide & chemical free</li>
        <li>Farm to home delivery</li>
      </ul>
      <button
        class="flex items-center px-4 py-4 md:px-10 gap-2 md:py-5 mt-8 bg-orange-500 text-white rounded-full text-lg font-semibold hover:bg-orange-600 hover:scale-110"
        [routerLink]="['/products']">
        Order Now <svg xmlns="http://www.w3.org/2000/svg" width="31.267" height="15.038" viewBox="0 0 31.267 15.038">
          <defs>
            <style>
              .a,
              .b {
                fill: none;
                stroke: #fff;
                stroke-linecap: round;
                stroke-width: 2px;
              }

              .b {
                stroke-linejoin: round;
              }
            </style>
          </defs>
          <g transform="translate(-273.05 -557.086)">
            <path class="a" d="M5013.345,789h27.971" transform="translate(-4739.295 -224.5)"></path>
            <path class="b" d="M5088.429,805.1v8.671h8.6" transform="translate(3325.539 4738.066) rotate(-135)"></path>
          </g>
        </svg>
      </button>
    </div>
  </div>
  <!--Why Mango Basket-->
  <div class="w-screen h-full">
    <img src="assets/image/mango-2.png" class="object-cover h-full w-full z-50">
  </div>
  <!--map-->
  <div class="flex items-center justify-center w-screen h-full">
    <img src="assets/image/mango-3.png" class=" relative object-cover h-full w-screen">
    <img src="assets/image/mango-4.png" class="absolute left-20 mb-14 md:left-50 md:-p-15 object-cover w-70 h-70 md:h-190 md:w-190 md:mb-40">
  </div>
  <!-- About Us -->
  <div class="w-screen h-full flex md:justify-between md:px-20 md:-py-20 md:p-0 p-5">
    <div class="flex-col space-y-6 p-3">
      <h2 class="text-[#8b0000] text-xl md:text-4xl font-bold"><a class="underline decoration-4 underline-offset-10">ABOU</a>T US
      </h2>
      <div class="text-[#8b0000] text-xs md:text-lg md:space-y-1">
        <p>Mango Basket is your way to goodness of Indian mangoes, Mango </p>
        <p>is considered the king of fruits and is one of the most widely </p>
        <p>produced fruit in India. It doesn’t matter which type of mango you</p>
        <p>love because at mango basket you will find all of them in one place.</p>
        <p>We are a brand focusing on delivering all types of authentic Indian</p>
        <p>residue free mangoes to you. If you are in the mood for a juicy</p>
        <p>mango, choose the type of mango you are craving for and buy it</p>
        <p>now.</p>
      </div>
      <button
        class="md:mt-6 md:px-12 md:py-5 px-5 py-3 text-orange-600 font-semibold border-2 border-orange-600 rounded-full hover:bg-orange-600 hover:text-white transition-all duration-300 shadow-md"
        [routerLink]="['/about']">
        Know More
      </button>
    </div>
    <img src="assets/image/mango-5.png" class="md:w-150 md:h-100 w-50 h-50">
  </div>
  <!-- testimonal section -->
  <div class="flex items-center w-full h-full py-5">
    <div class="relative w-full h-full">
      <img src="assets/image/mango-6.png" class="w-full h-full object-cover scale-[1.7] md:scale-100">
    </div>    
    <div class="absolute right-60 mt-20  md:right-15 container mx-auto px-4">
      <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 gap-6 place-items-center">
        <ng-container *ngFor="let testimonial of visibleTestimonials">
          <div class="bg-white w-100 h-100 p-4 rounded-2xl shadow-lg text-center transition-transform hover:scale-105"   [ngClass]="{'col-12': isMobileView, 'col-md-3': !isMobileView}" 
          style="max-width: 24rem; height: auto;">
            <img [src]="testimonial.image" [alt]="testimonial.name" class="mb-3 mx-auto">
            <h2 class="text-[#752F2F] font-semibold text-lg -mb-2">{{ testimonial.name }}</h2>
            <p class="text-[#B6895B] font-semibold my-4">{{ testimonial.location }}</p>
            <div class="flex">
              <img src="https://themangobasket.com/wp-content/webp-express/webp-images/themes/storefront-child/assets/images/quate.png.webp"
                   alt="quote" class="me-2 w-10 h-20">
              <p class="text-[#752F2F] mt-2 text-base italic">{{ testimonial.quote }}</p>
            </div>
          </div>
        </ng-container>
      </div>
      
      <!-- Pagination dots -->
      <div class="flex justify-center mt-4 gap-2 mx-150">
        <button *ngFor="let _ of testimonials; let i = index" 
                (click)="goToPage(i)"
                class="btn btn-sm rounded-circle p-0" 
                [ngClass]="{'bg-[#752F2F]': currentPage === i, 'bg-secondary': currentPage !== i}"
                style="width: 12px; height: 12px;"
                [attr.aria-label]="'Go to testimonial ' + (i + 1)"></button>
      </div>
    </div>
  </div>
  <!-- blog -->
  <div class="w-screen h-full">
    <h2 class="text-center text-[#8b0000] text-4xl font-bold">B<a
        class="underline decoration-3 underline-offset-10">LO</a>G</h2>
    <div class="flex flex-wrap justify-center items-center gap-20 p-10">
      <div class="max-w-sm bg-white shadow-lg rounded-lg hover:scale-101" [routerLink]="['/blog',1]">
        <img src="assets/image/blog-1.webp">
        <div class="space-y-4 p-5 text-[#8b0000]">
          <p class="text-2xl font-semibold">
            Mango or Mangoes? Discover the Correct Plural Form
          </p>
          <p>Are you puzzled by the plural form of mango? Whether it’s ‘mangoes’ or...</p>
        </div>
        <div class="text-lime-600 flex justify-between p-5">
          <p>By Suchita Dey</p>
          <p class="text-5xl hover:scale-130">→</p>
        </div>
      </div>
      <div class="max-w-sm bg-white shadow-lg rounded-lg hover:scale-101" [routerLink]="['/blog',2]">
        <img src="assets/image/blog-1.webp">
        <div class="space-y-4 p-5 text-[#8b0000]">
          <p class="text-2xl font-semibold">
            Top 15 Benefits of Eating Mango at Night
          </p>
          <p>It is common to get nightly cravings if you are a late sleeper or have poor sleeping..</p>
        </div>
        <div class="text-lime-600 flex justify-between p-5">
          <p>By Suchita Dey</p>
          <p class="text-5xl hover:scale-130">→</p>
        </div>
      </div>

    </div>
    <button
      class="md:mx-140 mx-35 mt-6 px-6 py-2 md:px-12 md:py-5 text-orange-600 font-semibold border-2 border-orange-600 rounded-full hover:bg-orange-600 hover:text-white transition-all duration-300 shadow-md" [routerLink]="['/blog']">
      View More
    </button>
  </div>
  <div class="flex w-full h-full">
    <img src="assets/image/mango-7.png" class="relative w-screen h-full object-cover">
    <div class="flex flex-col absolute left-20 md:left-50 md:-my-30 md:p-20 md:my-5 md:space-y-4 space-y-1 md:w-120 my-5 p-2 w-40">
      <h2 class="text-[#8b0000] font-semibold text-xs md:text-xl">
        SIGN UP FOR MANGO NEWS
      </h2>
      
      <input type="text" name="fullname" [(ngModel)]="fullName" class="bg-white md:py-2 md:px-2 rounded" placeholder="Full Name">
      <small *ngIf="nameError" class="text-red-600">Full Name is required</small>
  
      <input type="email" name="email" [(ngModel)]="email" class="md:py-2 md:px-2 rounded bg-white" placeholder="Email">
      <small *ngIf="emailError" class="text-red-600">Valid Email is required</small>
  
      <div class="flex items-start">
        <button (click)="subscribe()" class="md:mt-6 md:px-7 px-1 py-1 md:py-4 text-xs md:text-lg text-white md:font-semibold bg-orange-600 rounded-full 
        hover:text-orange-600 hover:bg-white transition-all duration-300 shadow-md hover:scale-110">
          Subscribe
        </button>
      </div>
    </div>
  </div>
</div>